* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
    font-family: Lexend;
    font-size: 40px;
}

.first {
  text-align: center;
}

.nutria {
  margin: 20px;
}

.kitty {
  width: 400px;
  border-radius: 10%;
}

.kuromi {
  width: 400px;
  border-radius: 10%;
}

.melody {
  width: 400px;
  border-radius: 10%;
}

.stickers {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.text2 {
  padding: 20px;
  font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
  }
  
  .cantidad {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      padding: 5px;
  }
  
  input {
      padding: 5px;
      margin: 10px;
  }

  .password {
    text-align: center;
    background-image: url(../img/coding.gif);
    background-size: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    outline: auto;
    font-size: 20px;
    

  }

  .btnn {
    margin: 10px;
    padding: 10px;
  }

  .parrafo {
    text-align: center;
  }